.okvir{
    background-color: bisque;
    width: 500;
    height: 500;
}

.add-button{
    width: 177px;
    height: 50px;
    margin-top: 20px;
    background-color: lightgreen;
    border: 2px solid darkgreen;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.main{
    display: flex;
}

.form {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    height: 260px;
    margin-top: 120px;

}

.element-of-form {
    margin-top: 10px;
    
    border-radius: 5px;
}

input {
    border: 1px solid black;
    border-radius: 3px;
}